<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>

      <bindings>
            <basicHttpBinding>
      <binding name="Assignment6ServiceSoap" allowCookies="true"
        maxReceivedMessageSize="20000000"
        maxBufferSize="20000000"
        maxBufferPoolSize="20000000">
        <readerQuotas maxDepth="32"
        maxArrayLength="200000000"
        maxStringContentLength="200000000"/>
      	</binding>    
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/WSAssignment6/Assignment6Service.asmx"
                binding="basicHttpBinding" bindingConfiguration="Assignment6ServiceSoap"
                contract="Assignment6Reference.Assignment6ServiceSoap" name="Assignment6ServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>




      

